.weather-wrapper {

  flex-direction: column;
  margin-top: -25px;
}

.weather-container {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.weather-today {
  display: flex;
  align-items: flex-end;
}
.weather-today p {
  font-size: 235px;
  font-weight: 600;
  margin-top: -30px;
  margin-right: 35px;
  margin-bottom: 0;
  line-height: 264px;
}

.weather-img {
  height: 150px;
  margin-left: -45px;
  margin-top: -50px;
  margin-bottom: -15px;
}

.city {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0;
}

.weather-data {
  margin-right: 20px;
}

.weather-data p {
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 2px;
}