.weather-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: -25px;
  margin-bottom: 30px;
}

.weather-container {
  display: flex;
  margin-bottom: 20px;
}

.weather-today {
  display: flex;
  align-items: flex-end;
}
.weather-today p {
  width: 305px;
  font-size: 304px;
  font-weight: 600;
  margin-top: -30px;
  margin-right: 68px;
  margin-bottom: 0;
  line-height: 264px;
}

.weather-img {
  height: 150px;
  margin-left: -45px;
}

.city {
  font-size: 50px;
  font-weight: 700;
  line-height: 55px;
  margin: 0;
}

.weather-data {
  margin-right: 20px;
}

.weather-data p {
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  margin: 0;
}