#root {
  background-color: rgba(0, 0, 0, 0.6);
}

#content-wrapper {
  /* height: 100vh; */
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 0px 100px 0 100px;
  overflow: auto;
  animation: moveRightLeft 3s alternate;
}

.blackout {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

@keyframes moveRightLeft { 

  0% {
    transform: scaleX(0) scaleY(0);
    }
  100% {
    transform: scaleX(1) scaleY(1);
    }
}

.loading {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255,255,255,0.3) 80%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: -100vw;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: -100vw;    
  }
  100% {
    background-position: 100vw;   
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 50px;
  position: relative;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 60px;
}

.weather {
  width: 670px;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.7);
}

.weather, .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  align-items: flex-end;
}

button:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .common-wrapper {
    display: block;
  }  

  #content-wrapper {
    height: 100vh;
    width: 100%;
    padding: 40px 100px 0 100px;
  }

  #error {
    top: 79% !important;
  }

  .clock {
    text-align: center;
  }

  .weather-container {
    justify-content: center !important;
  }
  
  .main {
    flex-direction: column;
    align-items: center;
  }

  #city {
    text-align: center;
  }

  .weather {
    width: auto;
    margin-bottom: 50px;
  }

  .weather-data {
    margin-right: 0 !important;
  }

  .weather-wrapper {
    align-items: center;
  }

  .forecast-container {
    justify-content: center;
  }

  .weather-card {
    justify-content: center;
  }

  .coords {
    align-items: center !important;
    margin-bottom: 50px;
  }

  .error-message {
    font-size: 80px;
  }
}

@media (max-width: 850px) {
  .header {
    flex-direction: column;
    align-items: center;
    height: 135px;
  }
  
  .form {
    order: 1;
  }

  .button-cluster {
    order: 2;
  }

  .clock {
    padding-bottom: 0 !important;
  }

  .weather-today p {
    width: 100% !important;
    text-align: center;
  }

  #error {
    top: 92% !important;
    right: auto !important;
    font-size: 38px !important;
    padding: 0 20px;
  }

  .error-message {
    font-size: 80px;
  }

  .weather-container {
    flex-direction: column;
  }

  .weather-today p {
    margin: 0 !important;
    margin-bottom: -50px !important;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-img {
    width: 400px;
    height: auto !important;
    margin-bottom: -70px !important;
    margin-left: 0 !important;
  }

  .forecast-container {
    margin-top: 25px;
  }

  .card-temp {
    justify-content: center;
  }
}

@media (max-width: 600px) {
  .forecast-container {
    flex-direction: column;
    align-items: center;
  }

  .blackout {
    height: auto;
  }  

  .error-message {
    font-size: 50px !important;
    padding: 50px 20px !important;
  }

  #error {
    width: max-content;
  }

}

@media (max-height: 600px) {
  .blackout {
    height: auto;
  }

  .header {
    margin-top: 20px;
  }
}

@media (max-width: 450px) {
  #content-wrapper {
    padding: 40px 0 0px;
  }

  .search-input {
    width: 200px !important;
  }

  .weather-today p {
    font-size: 150px !important;
    margin-bottom: -120px !important;
    margin-top: -25px !important;
  }

  .weather-wrapper:first-child {
    width: 310px;
  }

  .weather-img {
    width: 300px;
    margin-top: 0;
  }

  .map-container {
    width: 280px !important;
    height: 280px !important;
  }  
}

@media (max-width: 400px) {
  #error {
    top: 98% !important;
    font-size: 31px !important;
  }
}

@media (max-width: 320px) {
  .search-input {
    width: 165px !important;
  }

  #error {
    top: 100% !important;
    font-size: 28px !important;
  }

  .map-container {
    width: 250px !important;
    height: 250px !important;
  }

}