#root {
  background-color: rgba(0, 0, 0, 0.6);
}

.common-wrapper {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#content-wrapper {
  height: 100vh;
  /* background-color: rgba(0, 0, 0, 0.6); */
  padding: 50px 100px 0 100px;
  overflow: auto;
}

@keyframes moveRightLeft { 

  0% {
    transform: scaleX(0) scaleY(0);
    }
  100% {
    transform: scaleX(1) scaleY(1);
    }
}

.loading {
  background-image: linear-gradient(
    to right,
    transparent 0%,
    rgba(255,255,255,0.3) 80%,
    transparent 100%
  );
  background-repeat: no-repeat;
  background-position: -100vw;
  animation: shine 2s infinite;
}

@keyframes shine {
  0% {
    background-position: -100vw;    
  }
  100% {
    background-position: 100vw;   
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  position: relative;
}

.main {
  display: flex;
  justify-content: space-between;
  margin-top: 75px;
}

.weather {
  width: 670px;
  text-shadow: 0px 0px 24px rgba(0, 0, 0, 0.7);
}

.weather, .map {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.map {
  align-items: flex-end;
}

button:hover {
  cursor: pointer;
}


#error {
  position: absolute;
  right: 0;
  top: 94%;
  font-size: 40px;
  color: red;
  border-radius: .5rem;
  visibility: hidden;
  text-align: center;
  z-index: 1;
}

@media (max-width: 1100px) {
  .main {
    flex-direction: column;
    align-items: center;
  }

  #city {
    text-align: center;
  }

  .weather {
    width: auto;
    margin-bottom: 50px;
  }

  .weather-data {
    margin-right: 0 !important;
  }

  .weather-wrapper {
    align-items: center;
  }

  .forecast-container {
    justify-content: center;
  }

  .weather-card {
    justify-content: center;
  }

  .coords {
    align-items: center !important;
    margin-bottom: 50px;
  }

  .error-message {
    font-size: 80px;
  }
}

@media (max-width: 850px) {

  .header {
    flex-direction: column;
    align-items: center;
    height: 135px;
  }
  
  .form {
    order: 1;
  }

  .button-cluster {
    order: 2;
  }

  .weather-today p {
    width: 100% !important;
    text-align: center;
  }

  #error {
    right: auto;
    padding: 0 20px;
  }

  .error-message {
    font-size: 80px;
  }
}

@media (max-width: 850px) {
  .weather-container {
    flex-direction: column;
  }

  .weather-today p {
    margin: 0 !important;
  }

  .weather-data {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .weather-img {
    width: 400px;
    height: auto !important;
    margin-bottom: -50px;
    margin-left: 0 !important;
  }

  .forecast-container {
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
  }

  .card-temp {
    justify-content: center;
  }

  #error {
    top: 35%;
    font-size: 25px;
  }
}

@media (max-width: 600px) {
  .error-message {
    font-size: 50px !important;
    padding: 50px 20px !important;
  }
}

@media (max-width: 450px) {

  #content-wrapper {
    padding: 50px 0 50px;
  }

  .search-input {
    width: 200px !important;
  }

  .weather-wrapper:first-child {
    width: 310px;
  }

  .weather-today p {
    font-size: 250px !important;
  }

  .weather-img {
    width: 300px;
  }

  .map-container {
    width: 280px !important;
    height: 280px !important;
  }  

}
