.button-cluster {
  display: flex;
}

.button-cluster nav {
  margin: 0 10px;
}

#slow_nav > ul{
  margin: 0;
  padding: 0;
}

#slow_nav > ul > li{
  list-style: none;
  display: inline-block;
  position: relative;
  padding: 0;
}

#slow_nav li ul{
  position: absolute;
  list-style: none;
  text-align: center;
  top: 46px;
  font-size: 15px;
  left: 0;
  margin: 0;
  padding: 0;
  max-height: 0px;
  overflow: hidden;
  -webkit-transition: max-height 0s linear;
  -moz-transition: max-height 0s linear;
  transition: max-height 0s linear;
}

/* #slow_nav li:hover ul{
  max-height: 300px;
} */

#slow_nav li ul li a{
  padding: 5px 12px;
  color: #fff;
  display: block;
}

#slow_nav li ul li:hover{
  background-color: rgba(223, 228, 231, 0.7);
}

#slow_nav li ul:last-child:hover {
  border-radius: 0 0 .5rem .5rem;
}

#slow_nav li ul li:first-child{
  position: relative;
}

.img-button, .lang-button, .set-lang-button, #fahrenheit-button, #celsius-button {
  width: 50px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.589);
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  border: 0;
}

.img-button, .set-lang-button {
  background: black;
  border-radius: .5rem;
  border: 1px solid white;
}

.img-button {
  font-size: 33px;
}

.image-button-anime {
  animation: anime infinite 2s linear;
}

@keyframes anime { 
  0% {
      color: white;
  }
  33% {
      color: rgb(63, 187, 218);
  }
}

.img-button:hover {
  background: rgba(223, 228, 231, 0.7);
}

#slow_nav li ul li:first-child{
  position: relative;
}

#fahrenheit-button, #celsius-button { background: black; border: 1px solid white; }

#fahrenheit-button {
  border-radius: .5rem 0 0 .5rem;
}

#celsius-button {
  border-radius: 0 .5rem .5rem 0;
  border-left: none;

  background: rgba(76,82,85,.7);
}

#ru {
  border-radius: 0 0 .5rem .5rem;
}